$mainBackgroundColor: #03697C;
$altBackgoundColor: #474BB5;
$buttonsColor: #08FDED;
$mainFontColor: #F3FAFF;
$footerColor: #044779;
$walter: 'Walter Turncoat', cursive;
$roboto: 'Roboto', sans-serif;
