html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  color: #F3FAFF;
  line-height: 1.4rem;
  letter-spacing: 1px;
  max-width: 1960px;
}

h1 {
  font-family: "Walter Turncoat", cursive;
  font-size: 3.5rem;
  color: #F3FAFF;
  line-height: normal;
  letter-spacing: normal;
}

h2 {
  font-family: "Walter Turncoat", cursive;
  font-size: 1.7rem;
  color: #F3FAFF;
  line-height: 3rem;
  letter-spacing: normal;
}

h3 {
  font-family: "Walter Turncoat", cursive;
  font-size: 1.6rem;
  color: #F3FAFF;
  line-height: 2rem;
  letter-spacing: 1.3px;
}

a {
  text-decoration: none;
  font-family: "Walter Turncoat", cursive;
  font-size: 0.8rem;
  color: #044779;
  line-height: normal;
  letter-spacing: normal;
  background-color: #08FDED;
  padding: 0.1rem 1rem;
}

nav a {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
}

nav {
  font-family: "Roboto", sans-serif;
  font-size: 1.45rem;
  color: #F3FAFF;
  line-height: normal;
  letter-spacing: normal;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.home {
  background-image: url(../funplaceAssets/home-header.jpg);
  min-height: 350px;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home h1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
  width: 100%;
}

.home i {
  font-size: 2.5rem;
  color: white;
  padding: 0;
}

.topNavContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 1.5%;
  width: 10%;
}

.topNav {
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  padding: 13px 0px;
  text-align: right;
}

.topNavContainer:hover .topNav,
.topNavContainer:focus .topNav {
  display: block;
}

.topNavContainer ul {
  list-style-type: none;
}

.topNavContainer a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.topNavContainer a:hover,
.topNavContainer a:focus {
  border-bottom: 0.2rem solid #08FDED;
  font-size: 1.15rem;
}

.introPic {
  background-color: #03697C;
}

.introPic img {
  width: 100%;
}

.info1 {
  background: #03697C;
  padding: 1.5rem 0;
}

.info1 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
}

.infoTab {
  padding: 1.5rem 0;
}

.info1 h2 {
  margin: 0 0 0 1rem;
}

.infoHeadline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info1 i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #08FDED;
  color: #474BB5;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
}

.info2 img {
  width: 100%;
  display: block;
}

.containerTop,
.containerBot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2.5rem;
}

.containerTop {
  background-color: #474BB5;
  padding-bottom: 1.6rem;
}

.containerBot {
  background-color: #474BB5;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.topInfo2,
.botInfo2 {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
  padding-bottom: 1rem;
}

.topInfo2 {
  text-align: right;
  padding: 0;
}

.botInfo2 {
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.topImageContainer {
  margin-top: -2.5rem;
  position: relative;
  z-index: 1;
}

.botImageContainer {
  margin: 2.5rem 0 -6rem 0;
  position: relative;
  z-index: 1;
}

.topInfo2 .topImageContainer::after,
.botInfo2 .botImageContainer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 95%;
  background-color: #08FDED;
  z-index: -1;
}

.topInfo2 .topImageContainer::after {
  bottom: -0.75rem;
  right: -0.75rem;
}

.botInfo2 .botImageContainer::after {
  top: -0.75rem;
  left: -0.75rem;
}

.topText {
  width: 75%;
}

.botText {
  width: 75%;
}

.roadTrip {
  background-color: #03697C;
  padding: 4.5rem 0;
}

.roadTrip .wrapper {
  width: 72.5%;
  text-align: center;
}

.roadTrip h2 {
  margin-bottom: 0;
}

.roadTrip p {
  margin-bottom: 1.5rem;
}

.poolPic {
  background-image: url(../funplaceAssets/banner.jpg);
  min-height: 350px;
  background-position: center;
  height: 40vh;
  width: 100%;
}

.events {
  background-color: #03697C;
  padding: 2rem 0;
}

.events .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eventsInfo {
  padding-bottom: 2rem;
}

.events img {
  width: 100%;
  display: block;
}

.eventsImageContainer {
  width: 85.294%;
  margin: 2rem 0;
  position: relative;
  z-index: 1;
}

.eventsImageContainer::before {
  content: "";
  height: 50%;
  width: 50%;
  background-color: #08FDED;
  position: absolute;
  top: -0.75rem;
  right: -0.75rem;
  z-index: -1;
}

.eventsImageContainer::after {
  content: "";
  height: 50%;
  width: 50%;
  background-color: #08FDED;
  position: absolute;
  bottom: -0.75rem;
  left: -0.75rem;
  z-index: -1;
}

.album {
  background-color: #474BB5;
}

.album .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
  width: 85%;
  position: relative;
}

.album .carouselPic,
.album .carouselHidden {
  display: none;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album .carouselVisible {
  display: block;
  -webkit-animation: fadePic 1.25s;
          animation: fadePic 1.25s;
}

.album .carouselPic img {
  width: 85%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.album .carouselButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.album .carouselButtons button {
  color: #044779;
  border-radius: 50%;
  background-color: #08FDED;
  border: none;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.album .carouselButtons button#carouselPrev {
  margin-left: -0.75rem;
}

.album .carouselButtons button#carouselNext {
  margin-right: -0.75rem;
}

@-webkit-keyframes fadePic {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadePic {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.footer {
  background-color: #044779;
  text-align: center;
  padding: 0.25rem;
}

.footer p {
  margin: 0;
}

@media (min-width: 768px) {
  body {
    font-size: 0.7rem;
  }

  nav a {
    font-size: 0.7rem;
    margin-right: 1.5rem;
  }

  .home {
    padding-left: 7.5%;
    min-height: 300px;
    height: 60vh;
    background-size: cover;
    background-position: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .home h1 {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 5.5rem 0 0 0.25rem;
    font-size: 3.5rem;
  }

  .home i {
    visibility: hidden;
  }

  .topNav {
    display: block;
    width: 100%;
  }

  .topNavContainer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0 0 0 -0.25rem;
  }

  .introPic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .introPic img {
    width: 50%;
    max-width: calc(992px / 2);
    margin-top: -13rem;
  }

  .info1 {
    padding: 4.5rem 0;
  }

  .info1 .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .infoTab p {
    margin-left: 3.5rem;
  }

  .info2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .info2 .topInfo2,
.info2 .botInfo2,
.info2 .topText,
.info2 .botText {
    width: 85%;
  }

  .botInfo2 .botImageContainer::after {
    bottom: -0.75rem;
    top: inherit;
  }

  .events {
    padding: 3rem 0;
  }

  .events .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 95%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .events .eventsImageContainer,
.events .eventsInfo {
    padding: 0;
  }

  .events .eventsImageContainer {
    width: calc(80% / 3);
  }

  .events .eventsInfo {
    width: calc((80% / 3) * 2);
    text-align: left;
  }

  .eventsInfo h2 {
    margin: 0;
  }

  .eventsInfo p {
    margin-top: 0;
  }

  .eventsImageContainer::before {
    visibility: hidden;
  }

  .eventsImageContainer::after {
    height: 98.5%;
    width: 98.5%;
  }

  .album .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 85%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .album .wrapper > * {
    width: calc(100% / 2);
  }

  .album .carouselButtons {
    width: 100%;
  }

  .album .carouselButtons button {
    font-size: 0.9rem;
    width: 2rem;
    height: 2rem;
  }

  .album .carouselButtons button#carouselPrev {
    margin-left: -5%;
  }

  .album .carouselButtons button#carouselNext {
    margin-right: -5%;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}
.blog h2 {
  margin: 0;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.blogHome {
  background-image: url(../funplaceAssets/blog-header.jpg);
  min-height: 250px;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogHome h1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Walter Turncoat", cursive;
  font-size: 3.2rem;
  color: #F3FAFF;
  line-height: 3.04rem;
  letter-spacing: normal;
  padding-top: 12.5%;
  width: 100%;
  text-align: left;
  margin-left: 10%;
}

.blogHome i {
  font-size: 2.5rem;
  color: white;
  padding: 0;
}

.blogHome a {
  background-color: transparent;
}

.blogHome nav {
  font-family: "Roboto", sans-serif;
  font-size: 1.45rem;
  color: #F3FAFF;
  line-height: normal;
  letter-spacing: normal;
}

.blogHome .topNavContainer {
  height: 10%;
}

.blogMainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article {
  background-color: #03697C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 0.5rem 0;
}

.article img {
  width: 100%;
  display: block;
}

.articleImageContainer {
  width: calc(100% - 0.75rem);
  position: relative;
  z-index: 1;
}

.articleTextContainer {
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 1rem;
}

.articleImageContainer::after {
  content: "";
  height: calc(100% + 0.75rem);
  width: calc(100% + 0.75rem);
  position: absolute;
  bottom: -0.75rem;
  left: -0.75rem;
  background-color: #08FDED;
  z-index: -1;
}

.articleTextContainer::after {
  content: "";
  height: 100%;
  width: calc(100% - 5px);
  border-left: 5px solid #08FDED;
  border-bottom: 5px solid #08FDED;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.articleText {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 4rem;
  z-index: 1;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #03697C;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3.5rem 0 0.5rem 0;
}

.asideContainer {
  width: 75%;
  background-color: #474BB5;
}

.asideImageContainer {
  width: 115%;
  margin-left: -18.5%;
  margin-top: -3.5%;
}

.aside img {
  width: 100%;
}

.mission {
  margin: 0 auto;
  width: 75%;
}

.mission h4 {
  font-family: "Walter Turncoat", cursive;
  font-size: 1.2rem;
  color: #F3FAFF;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
  padding-top: 1rem;
}

.mission li {
  color: #08FDED;
}

.mission .recentList {
  color: #F3FAFF;
}

.mission p {
  margin: 0;
  padding: 0.5rem 0 1.75rem 0;
}

.mission ul {
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
  margin: 0.5rem 0 1.5rem 0;
}

.comments {
  background-color: #03697C;
  padding: 1.5rem 0 3rem 0;
}

.comments .wrapper {
  width: 100%;
}

.comments h4 {
  font-style: italic;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.comments input,
.comments textarea {
  color: white;
}

.postComments {
  width: 80%;
  margin: 0 5% 0 12.5%;
}

.commentGroup {
  padding: 1rem 0;
}

.submitCommentMessage {
  font-size: 0.65rem;
}

.credentials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.credentials div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}

.credentials label {
  margin-left: 1rem;
}

.credentials input {
  background-color: #03697C;
  border: none;
  border-bottom: 0.1rem solid #08FDED;
  padding: 0;
}

.commentArea {
  padding: 1.5rem 0;
}

.commentArea textarea {
  width: 100%;
  height: 7.5rem;
  padding: 1rem;
  background-color: #03697C;
  border: 0.1rem solid #08FDED;
}

.commentArea textarea::-webkit-input-placeholder {
  color: #F3FAFF;
}

.commentArea textarea::-moz-placeholder {
  color: #F3FAFF;
}

.commentArea textarea:-ms-input-placeholder {
  color: #F3FAFF;
}

.commentArea textarea::-ms-input-placeholder {
  color: #F3FAFF;
}

.commentArea textarea::placeholder {
  color: #F3FAFF;
}

.submitCommentMessage input[type=submit] {
  width: 100%;
  font-family: "Walter Turncoat", cursive;
  font-size: 1rem;
  color: #044779;
  line-height: normal;
  letter-spacing: normal;
  background-color: #08FDED;
  padding: 0.1rem 0.4rem;
  border: none;
}

@media (min-width: 768px) {
  .blogHome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: cover;
    background-position: center;
  }

  .blogHome h1 {
    padding: 2rem 0 0 0;
    text-align: left;
    font-size: 3.5rem;
  }

  .blogHome .topNavContainer,
.blogHome h1 {
    margin-left: 7.5%;
  }

  .blogHome i {
    display: none;
  }

  .blogHome ul {
    margin-right: 0;
  }

  .blogMainContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    background-color: #03697C;
  }

  .blogMainContainer .aside {
    width: 40%;
    margin: 0;
    padding: 3rem 0 0 0;
    height: 100%;
  }

  .blogMainContainer .article {
    width: 60%;
    margin: -4rem 0 0 0;
    padding: 0;
    background-color: transparent;
  }

  .articleImageContainer::after {
    height: 98%;
    width: 98%;
  }

  .comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .postComments {
    width: 60%;
    margin: 0;
  }

  .comments .wrapper {
    width: 80%;
  }

  .commentGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .commentImageContainer {
    width: 25%;
    padding-top: 0.35rem;
    margin-right: 0.5rem;
  }

  .commentGroup img {
    width: 90%;
  }

  .commentGroup .commentContainer {
    width: calc(75% - 0.5rem);
  }

  .comments h4,
.comments p {
    margin: 0;
  }
}
.touch {
  background-image: url(../funplaceAssets/contact-header.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.touch i {
  font-size: 2.5rem;
}

.touch h1 {
  font-size: 2.6rem;
  margin-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 50%;
  padding-top: 12.5%;
}

.touch nav {
  font-family: "Roboto", sans-serif;
  font-size: 1.45rem;
  color: #F3FAFF;
  line-height: normal;
  letter-spacing: normal;
}

.touch .topNavContainer {
  height: 10%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #03697C;
  text-align: center;
  padding: 3.6rem;
}

.socialMedia {
  padding-left: 1rem;
}

.contactContainer i {
  font-size: 1.2rem;
  letter-spacing: 1rem;
}

.contactContainer p {
  margin: 0;
}

.contactContainer p:nth-child(2) {
  padding: 0.5rem 0;
}

.contact .submitCommentMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 0 2.5rem 0;
  background-color: #03697C;
}

.formContainer {
  width: 90%;
  position: relative;
  padding: 1.5rem 0;
  background-color: #474BB5;
  z-index: 2;
}

.formContainer input,
.formContainer textarea {
  position: relative;
  z-index: 2;
  color: white;
}

.contact form {
  width: 90%;
  margin: 0 auto;
}

.contact .formContainer::before {
  content: "";
  height: 25%;
  width: 25%;
  border-left: 0.65rem solid #08FDED;
  border-top: 0.65rem solid #08FDED;
  position: absolute;
  top: -0.65rem;
  left: -0.65rem;
}

.contact .formContainer::after {
  content: "";
  height: 25%;
  width: 25%;
  border-right: 0.65rem solid #08FDED;
  border-bottom: 0.65rem solid #08FDED;
  position: absolute;
  bottom: -0.65rem;
  right: -0.65rem;
  z-index: 1;
}

.contact input,
.contact textarea {
  background-color: #474BB5;
}

.contact footer {
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .touch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    background-image: cover;
    min-height: 350px;
  }

  .touch ul,
.touch h1 {
    margin: 0;
    padding: 0 0 0 5rem;
  }

  .touch h1 {
    padding-top: 2.1rem;
    max-width: 80%;
    font-size: 3.3rem;
  }

  .touch i {
    visibility: hidden;
  }

  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 1.25rem;
    background-color: #03697C;
  }

  .contact .contactContainer {
    width: 35%;
    text-align: left;
    padding: 3rem 1rem 3rem 5rem;
  }

  .contactContainer i {
    font-size: 0.9rem;
    letter-spacing: 0.75rem;
  }

  .contactContainer p {
    line-height: 1rem;
  }

  .socialMedia {
    padding: 0;
  }

  .contact .submitCommentMessage {
    width: 65%;
    margin: -5rem 0.5rem 0 0;
    background-color: transparent;
  }

  .contact .formContainer::before {
    display: none;
  }

  .contact .formContainer::after {
    height: 95%;
    width: 95%;
  }
}